{% for project in projects %}
    <div class="cisco-activity project-list-item">
        <a href="#">
            <i class="icon-briefcase"></i>
            {{ project }}
        </a>
    </div>
{% else %}
    <p>No projects defined yet.</p>
{% endfor %}
    
<a class="btn btn-small" href="{{ path( 'cisco_activity_projects_new' ) }}">
    <i class="icon-plus-sign"></i>
    Create project
</a>
