{% extends app.request.get( 'embedded' ) ? 'CiscoSystemsActivityBundle::emptybase.html.twig' : 'CiscoSystemsActivityBundle::base.html.twig' %}

{% block body %}

    <h2>Projects</h2>
    
    {% block cisco_activity_content %}
    
        {% include 'CiscoSystemsActivityBundle:Project:list_content.html.twig' %}
    
    {% endblock %}
    
{% endblock %}
    
