{% extends 'CiscoSystemsActivityBundle::base.html.twig' %}

{% block body %}
    
    <h2>New project</h2>
    
    {% include 'CiscoSystemsActivityBundle:Project:new_content.html.twig' %}
    
{% endblock %}
