{% extends 'CiscoSystemsActivityBundle::base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <div class="row">
        <div class="span8">
            {% render 'CiscoSystemsActivityBundle:TimeKeeping:punch' %}
        </div>
        <div class="span4 pull-right">
            {% render 'CiscoSystemsActivityBundle:Project:list' %}
        </div>
    </div>
{% endblock %}
