{% extends app.request.get( 'embedded' ) ? 'CiscoSystemsActivityBundle::emptybase.html.twig' : 'CiscoSystemsActivityBundle::base.html.twig' %}

{% block body %}

    <h2>Your current activity</h2>
    
    {% block cisco_activity_content %}
    
        {% include 'CiscoSystemsActivityBundle:TimeKeeping:punch_content.html.twig' %}
    
    {% endblock %}
    
{% endblock %}
